div.preview-box {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;   <-- removed, as height of preview box should be stable */
    align-items: flex-start;
    border: 1px solid grey;
    background-color: white;
    padding: 5px;
    width: calc((100% - 130px)/3);
    overflow: hidden;
}

div.preview-box * {
    font-family: Verdana, Sans-serif;
}

div.preview-box:hover {
    cursor: pointer;
    border: 3px solid black;
    padding: 3px;
    font-weight: bold;
}

div.no-recipe-id {
    color: #666666;
}

div.recipe-name {
    /* choose fixed height and clip exceptionally long recipe names in the preview box */
    height: 40px;
    overflow: hidden;
}

div.no-recipe-name {
    color: #666666;
}

div.preparation-time {
    display: block;
    padding: 10px 0px 0px 0px;
}

div.no-preparation-time {
    display: block;
    padding: 10px 0px 0px 0px;
    color: #666666;
}

div.popularity {
    display: block;
    padding: 2px 0px 0px 0px;
}

div.no-popularity {
    display: block;
    padding: 2px 0px 0px 0px;
    color: #666666;
}

div.image-box {
    align-self: center;
    display: flex;
    max-height: 200px;
    overflow: hidden;
}

img.icon {
    display: block;
    margin: 5px;
    width: 100%;
    height: 100%;
}