
div.carousel-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    margin: 15px 0;
}

button.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 40px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 50%;
    background-color: white;
    font-family: cursive;
    font-size: 32px;
    color: grey;
}

button.arrow:hover {
    cursor: pointer;
    border: 2px solid black;
    color: black;
}

div.arrowsign {
    margin-bottom: 5px;
}