* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
    font-family: cursive;
}

/*******************************************************************************************/

div.status-message {
    border: 1px solid red;
    padding: 5px;
    font-family: "Courier New";
    font-size: 16px;
    color: red;
}

div.preview-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

div.recipe-details {
    margin: auto 5px auto 5px;
    border: 1px solid grey;
    padding: 5px;
    overflow: hidden;
    font-family: Verdana, Sans-serif;
}

div.recipe-details * {
    font-family: Verdana, Sans-serif;
}

/*******************************************************************************************/

p.meal-browser-text {
    text-align: center;
}

img.centered-smiley {
    display: block;
    margin: auto;
    width: 20%;
    height: 20%;
}