* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
    font-family: cursive;
}

/*******************************************************************************************/

div.confirmation-message {
    padding: 15px 5px 5px 5px;
}

div.status-message {
    padding: 15px 5px 5px 5px;
    font-family: "Courier New";
    font-size: 16px;
    color: black;
}

div.error-message {
    padding: 15px 5px 5px 5px;
    font-family: "Courier New";
    font-size: 16px;
    color: red;
}

/*******************************************************************************************/

p.meal-browser-text {
    text-align: center;
    margin-bottom: 8px;
}

img.centered-smiley {
    display: block;
    margin: auto;
    width: 20%;
    height: 20%;
}

/*******************************************************************************************/

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #666666;
    border-radius: 5px;
    padding: 5px 5px;
}

fieldset * {
    font-family: Verdana, Sans-serif;
}

label {
    font-size: 14px;
}

div.form-elements-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 5px auto;
}

div.form-elements-box-left-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

div.form-elements-box-right-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
}

div.form-elements-row {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}

div.form-element {
    display: flex;
    justify-content: center;
    align-items: center;        /* changed */
    margin: 0px 15px;
    height: 30px;        /* changed */
}

div.form-item {
    display: flex;
    justify-content: center;
    align-items: center;        /* changed */
    margin: 0;
    height: 30px;        /* changed */
}

span.form-plain-text {
    font-size: 16px;
}

input {
    margin-left: 6px;
    height: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 0px 5px;
}

input:focus {
    outline: 1px solid #333333;
}

input.free-text {
    width: 200px;
}

input.number
{
    width: 60px;
}

select {
    margin-left: 6px;
    height: 30px;
    padding: 0px 5px;
    border: 1px solid #333333;
    border-radius: 5px;
}

select:hover {
    cursor: pointer;
}

button.submit-reset {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #333333;
    padding: 5px 5px;
}

button.submit-reset:disabled {
    border: 1px solid #dddddd;
}

button.submit-reset:hover:enabled {
    cursor: pointer;
    background-color: #cccccc;
}

button.update {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #333333;
    padding: 5px 5px;
}

button.update:hover {
    cursor: pointer;
    background-color: #cccccc;
}